*.o
.DS_Store
.*.swp
/bin
/build_dir
/staging_dir
/tmp
/logs
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
*/build/*
feeds/*
tmp/
scripts/config/conf
.config.old
scripts/config/mconf
scripts/config/mconf_check
package/base-files/files/etc/version
