config samba
	option 'name'			'ASRock_X10'
	option 'workgroup'		'WORKGROUP'
	option 'description'		'ASRock X10 Router'
	option 'homes'			'1'

config sambashare
        option name 'DISK1a'
        option path '/tmp/DISK1a'
        option read_only 'no'
        option create_mask '0700'
        option dir_mask '0700'
        option guest_ok 'no'
        option users 'admin'
        option browseable 'no'
        option passwd '1234'
        option enable 'yes'
        option init_passwd 'yes'

config sambashare
        option name 'DISK1b'
        option path '/tmp/DISK1b'
        option read_only 'no'
        option create_mask '0700'
        option dir_mask '0700'
        option guest_ok 'no'
        option users 'admin'
        option browseable 'no'

config sambashare
        option name 'DISK1c'
        option path '/tmp/DISK1c'
        option read_only 'no'
        option create_mask '0700'
        option dir_mask '0700'
        option guest_ok 'no'
        option users 'admin'
        option browseable 'no'

config sambashare
        option name 'DISK1d'
        option path '/tmp/DISK1d'
        option read_only 'no'
        option create_mask '0700'
        option dir_mask '0700'
        option guest_ok 'no'
        option users 'admin'
        option browseable 'no'

config sambashare
        option name 'DISK2a'
        option path '/tmp/DISK2a'
        option read_only 'no'
        option create_mask '0700'
        option dir_mask '0700'
        option guest_ok 'no'
        option users 'admin'
        option browseable 'no'

config sambashare
        option name 'DISK2b'
        option path '/tmp/DISK2b'
        option read_only 'no'
        option create_mask '0700'
        option dir_mask '0700'
        option guest_ok 'no'
        option users 'admin'
        option browseable 'no'

config sambashare
        option name 'DISK2c'
        option path '/tmp/DISK2c'
        option read_only 'no'
        option create_mask '0700'
        option dir_mask '0700'
        option guest_ok 'no'
        option users 'admin'
        option browseable 'no'

config sambashare
        option name 'DISK2d'
        option path '/tmp/DISK2d'
        option read_only 'no'
        option create_mask '0700'
        option dir_mask '0700'
        option guest_ok 'no'
        option users 'admin'
        option browseable 'no'

